section.page404
    .container.404_container 
        .page404__wrapper 
            h2.h1.page404__title Sorry, the page you’re looking for cannot be found
            .page404__subtitle Please head back home and try again later

            a.page404__button(href="#") Home
    