section.application-info
    .container.application-info__container 
        .application-info__wrapper 
            .application-info--top 
                h1.h1 A universal enabling solution to simplify complex oral and dental procedures
            .application-info__divider 
                div
            .application-info--bottom 
                .application-info--bottom__text 
                    .application-info--bottom__left 
                        h2.h1 Tegenix 
                        p.section__paragraph.section__paragraph-black Tegenix is a universal regenerative solution that can combine with bone grafting material to form an easy to apply composite that optimises tissue healing for a range of oral surgeries. We’re creating a whole new segment within a stagnant dentistry market that is ripe for disruption.

                    .application-info--bottom__right 

                        a.link Bone Regeneration

                .application-info--bottom__img 
                    img(src="./img/Tetratherix-Illustations-Round-1-Bone-Regeneration (1).png", alt="")