doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document


        link(rel="stylesheet", href="./css/swiper-bundle.min.css")
        link(rel="stylesheet", href="./css/style.css")

        //- fonts
        link(rel="stylesheet", href="./fonts/fonts.css")

    body 

        //- Header
        include ../components/header/header.pug
        
        main 
            
            //- hero secondary
            include ../components/hero-secondary/hero-secondary.pug

            //- about-info
            include ../components/about-info/about-info.pug

            //- Photo Banner
            include ../components/photo-banner/photo-banner.pug

            //- about-stats
            include  ../components/about-stats/about-stats.pug

            //- about-stats
            include  ../components/about-history/about-history.pug

            //- about-team-slider
            include ../components/about-team-slider/about-team-slider.pug

            //- about-slider
            include ../components/about-slider/about-slider.pug
            

        //- Footer
        include ../components/footer/footer.pug

    script(src="./js/jquery-3.6.0.min.js") 
    script(src="./js/swiper-bundle.min.js") 
    script(src="./js/index.js") 