doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document


        link(rel="stylesheet", href="./css/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="./css/style.css")

        //- fonts
        link(rel="stylesheet", href="./fonts/fonts.css")

    body 

        //- Header
        include ../components/header/header.pug

      
        
        main 

            //- Hero
            include ../components/hero-secondary/hero-secondary.pug

            //- Model Intro
            include ../components/model-intro/model-intro.pug

            //- Model Slider
            include ../components/model-slider/model-slider.pug

            //- Text Banner
            include ../components/text-banner/text-banner.pug

            //- Model Info
            include ../components/model-info/model-info.pug

            //- Model Partners
            include ../components/model-partners/model-partners.pug

            //- Model others
            include ../components/model-others/model-others.pug


        //- Footer
        include ../components/footer/footer.pug

    script(src="./js/jquery-3.6.0.min.js") 
    script(src="./js/swiper-bundle.min.js") 
    script(src="./js/index.js") 