section.about-slider
    .about-slider__container 
        .about-slider__inner


            h2.h1 A production facility in the heart of Sydney

        .about-slider__wrapper
            
            .about-slider__slider-caption 
                p 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation. 
            .about-slider__slider-caption 
                p 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation. 
            .about-slider__slider-caption 
                p 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation. 
            .about-slider__slider-caption 
                p 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation.     


            .about-slider__slider 
                .swiper-wrapper 
                    .swiper-slide 
                        .about-slider__img 
                            img(src="./img/Tetratherix-Hero-3 (2).png", alt="")
                    .swiper-slide 
                        .about-slider__img 
                            img(src="./img/Tetratherix-Hero-3 (2).png", alt="")
                    .swiper-slide 
                        .about-slider__img 
                            img(src="./img/Tetratherix-Hero-3 (2).png", alt="")
                    .swiper-slide 
                        .about-slider__img 
                            img(src="./img/Tetratherix-Hero-3 (2).png", alt="")