section.applications-overview
    .container.applications-overview__container 

        .applications-overview__inner-wrapper
            h1.h1 A portfolio of applications built upon the Tetramatrix platform

            .applications-overview__wrapper 
            
                nav.hero-nav 
                    ul.hero-nav__list
                        li.hero-nav__item.active
                            a(href="") Home 
                        li.hero-nav__item 
                            a(href="") About 
                        li.hero-nav__item 
                            a(href="") TTRX Model 
                        li.hero-nav__item 
                            a(href="") Applications 
                        li.hero-nav__item 
                            a(href="") Investors     

                a.applications-overview__circle(href="")
                    .applications-overview__img 
                        img(src="./img/Tetratherix-Illustations-Round-1-Bone-Regeneration.png", alt="")
                    .applications-overview__title Tegenix<br>Bone Regeneration
                a.applications-overview__circle(href="")
                    .applications-overview__img 
                        img(src="./img/Tetratherix-Illustations-Round-1-Oncology-Spacing@2x.png", alt="")
                    .applications-overview__title Tutelix<br>Oncology Spacing
                a.applications-overview__circle(href="")
                    .applications-overview__img 
                        img(src="./img/Tetratherix-Illustations-Round-1-Tissue-Healing.png", alt="")
                    .applications-overview__title TetraDerm<br>Tissue Healing
                a.applications-overview__circle(href="")
                    .applications-overview__img 
                        img(src="./img/Tetratherix-Illustations-Round-1-Tetramatrix (1).png", alt="")
                    .applications-overview__title Pipeline<br>Applications


