section.application-blogs
    .container.application-blogs__container
        .application-blogs__inner
            h2.h1 Proven efficacy and safety in controlled clinical trials
            .application-blogs__wrapper 
                .application-blogs--card 
                    .application-blogs--card__img 
                        img(src="./img/Tetratherix-Applications-Aesthetics-2.png", alt="")
                        .play.ui-button__primary.ui-button__primary-black
                            a   
                                .circle 
                                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4623 12.7672L1 24.5345V1L15.4623 12.7672Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                span Explore The Model
                    .application-blogs--card__info 
                        .application-blogs--card__title Modular and Flexible
                        .application-blogs--card__paragraph A carrier system for any and every type of graft to form mouldable and shapable composites for easy and gentle delivery, which reserves the integrity of the host tissue for faster healing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation. 

                .application-blogs--card 
                    .application-blogs--card__img 
                        img(src="./img/Tetratherix-Applications-Aesthetics-2.png", alt="")
                        .play.ui-button__primary.ui-button__primary-black
                            a   
                                .circle 
                                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4623 12.7672L1 24.5345V1L15.4623 12.7672Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                span Explore The Model
                    .application-blogs--card__info 
                        .application-blogs--card__title Modular and Flexible
                        .application-blogs--card__paragraph A carrier system for any and every type of graft to form mouldable and shapable composites for easy and gentle delivery, which reserves the integrity of the host tissue for faster healing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation.

                .application-blogs--card 
                    .application-blogs--card__img 
                        img(src="./img/Tetratherix-Applications-Aesthetics-2.png", alt="")
                        .play.ui-button__primary.ui-button__primary-black
                            a   
                                .circle 
                                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4623 12.7672L1 24.5345V1L15.4623 12.7672Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                span Explore The Model
                    .application-blogs--card__info 
                        .application-blogs--card__title Modular and Flexible
                        .application-blogs--card__paragraph A carrier system for any and every type of graft to form mouldable and shapable composites for easy and gentle delivery, which reserves the integrity of the host tissue for faster healing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation. 
                        
                .application-blogs--card 
                    .application-blogs--card__img 
                        img(src="./img/Tetratherix-Applications-Aesthetics-2.png", alt="")
                        .play.ui-button__primary.ui-button__primary-black
                            a   
                                .circle 
                                    <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4623 12.7672L1 24.5345V1L15.4623 12.7672Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                span Explore The Model
                    .application-blogs--card__info 
                        .application-blogs--card__title Modular and Flexible
                        .application-blogs--card__paragraph A carrier system for any and every type of graft to form mouldable and shapable composites for easy and gentle delivery, which reserves the integrity of the host tissue for faster healing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim ad minim veniam, quis nostrud nora exercitation.     