
<section class="investors"> 
  <div class="container investors__container"> 
    <div class="investors__wrapper"> </div>
    <div class="team-slider-about__tabs investors__wrapper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <button class="team-slider-about__tab active" data-target="-1">Leadership Team</button>
        </div>
        <div class="swiper-slide">
          <button class="team-slider-about__tab" data-target="team-2">Board of Directors</button>
        </div>
        <div class="swiper-slide">
          <button class="team-slider-about__tab" data-target="team-3">Commercial Advisors</button>
        </div>
        <div class="swiper-slide">
          <button class="team-slider-about__tab" data-target="team-4">Internal RandD</button>
        </div>
      </div>
      <div class="custom-scrollbar">
        <div class="custom-scroll"></div>
      </div>
    </div>
  </div>
</section>