.ui-button__primary {   
    display: flex;
    
    border-radius: 30px;
   

    

   

    background: var(--white);

    width: fit-content;

    transition: .2s ease;

    cursor: pointer;

    a {
        display: flex;
        align-items: center;
        gap: 14px;
        @include adaptiveValue(gap, 14px, 12px, 1440px, 767px);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        @include adaptiveValue(font-size, 20px, 16px, 1440px, 767px);
        line-height: 150%;
        text-align: center;

        transition: .2s ease;

        padding-right: 20px;

        padding: 8px 20px 8px 8px;

        border-radius: 30px;

        .circle {
            display: flex;
            justify-content: center;
            align-items: center;

            transition: .2s ease;
        }

    }

    &-black {
        color: var(--black);
        transition: .2s ease;

        a {
            transition: .2s ease;
            .circle {
                border-radius: 100%;
                width: 44px;
                @include adaptiveValue(width, 44px, 40px, 1440px, 767px);
                height: 44px;
                @include adaptiveValue(height, 44px, 40px, 1440px, 767px);
                background-color: var(--black);

                svg {
                    transition: .2s ease;
                    path {
                        transition: .2s ease;
                    }
                }
            }
            &:hover {
                transition: .2s ease;
                background-color: var(--black);
                color: var(--white);

                .cirle {
                    transition: .2s ease;

                    svg {
                        transition: .2s ease;

                        path {
                            transition: .2s ease;
                            stroke: var(--white);
                        }
                    }
                }
            }
        }
    }

    &-blue {
        color: var(--colbolt-blue);
        border: 1px solid var(--colbolt-blue);

        transition: .2s ease;

        a {
            transition: .2s ease;
            .circle {
                border-radius: 100%;
                width: 44px;
                @include adaptiveValue(width, 44px, 40px, 1440px, 767px);
                height: 44px;
                @include adaptiveValue(height, 44px, 40px, 1440px, 767px);
                background-color:var(--colbolt-blue);

                transition: .2s ease;

                svg {
                    transition: .2s ease;
                    path {
                        transition: .2s ease;
                    }
                }

            }
        }

        &:hover {
            transition: .2s ease;
            color: var(--white);
            background-color: var(--colbolt-blue);

            .circle {
                background-color:  var(--white);

                svg {
                    path {
                        stroke: var(--colbolt-blue);
                    }
                }
            }
        }
    }

    &-transparent {
        color: var(--white);
        border: 1px solid var(--white);
        transition: .2s ease;

        a {
            transition: .2s ease;
            .circle {
                border-radius: 100%;
                width: 44px;
                @include adaptiveValue(width, 44px, 40px, 1440px, 767px);
                height: 44px;
                @include adaptiveValue(height, 44px, 40px, 1440px, 767px);
                background-color:var(--white);
                transition: .2s ease;

                svg {
                    transition: .2s ease;
                    
                    path {
                        transition: .2s ease;
                    }
                }

            }
        }

        &:hover {
            transition: .2s ease;
            
            .circle {
                transition: .2s ease;

                svg {
                    transition: .2s ease;

                    path {
                        transition: .2s ease;
                    }
                }
            }
        }
    }
}