section.privacy-policy
    .container.privacy-policy__container 
        .privacy-policy__inner
            h1.h2 Privacy Policy
            
            .privacy-policy__wrapper
                h2 Introduction
                p This privacy policy will give you a more comprehensive explanation of how your data is handled by Tetratherix Pty Ltd. If there is anything that is not clear from this privacy policy, please feel free to email us at a(href='mailto:info@tetratherix.com') info@tetratherix.com.
                
                h2 Our Principles
                p We have a simple approach to data protection and privacy which adheres to the 13 Australian Privacy Principles.
                p Our obligations under the i Privacy Act 1988 (Privacy Act):
                ul
                    li This privacy policy sets out how we comply with our obligations under the Privacy Act. As an Australian-based organisation, we are bound by the a(href='#') Australian Privacy Principles (APPs) in the Privacy Act which regulate how organisations may collect, use, disclose and store personal information, and how individuals may access and correct personal information held about them.
                    li In this privacy policy, ‘personal information’ has the same meaning as defined by a(href='#') section 6 of the Privacy Act: information or an opinion (including information or an opinion forming part of a database), whether true or not, about an individual whose identity is apparent, or can reasonably be ascertained, from the information or opinion.
                
                h2 Collection
                p We collect your personal information so that we can provide you with the products or services you have requested to support you. This may include your name, location, age, phone number, email address, postal address, and payment information.
                
                h2 What we collect from you
                h3 User contact forms
                p When you fill out a contact form on our website, we will collect that information and use it to get in touch with you in response to your query.
                
                h2 What we collect from your online activity
                p tetratherix.com uses cookies and other digital identifiers that fall into the following three categories:
                ul
                    li strong Site performance indicators: These give us information on how our website is used.
                    li strong Analytics Cookies: These give us statistics to understand how many people are on our website.
                    li strong Advertising Cookies: These are used to understand what type of advertising might be useful.
                
                h2 Use and Disclosure
                p We only use personal information for the purpose which was requested of us.
                
                h2 Data Security
                p We take active steps to protect the personal information we hold.
                
                h2 Complaints Handling
                p If you have any complaints, you can contact us at a(href='mailto:info@tetratherix.com') info@tetratherix.com.
                
                h2 How to Contact Us
                p If you have any questions, contact us at a(href='mailto:info@tetratherix.com') info@tetratherix.com.
