:root {
	--colbolt-blue: #3f26d0;
	--surgical-blue: #79c6dc;
	--surgical-blue-light: #95daed;
	--surgical-blue-extra-light: #eafaff;
	--light-grey: #f8f8f8;
	--dark-grey: #d5dae4;
	--white: #fff;
	--black: #000;
	--black-reduced: #5c5c63;
	--light-purple: #d7d2f5;
	--lightest-purple: #f6f5fd;
	--light-puple: #d7d2f5;
}

:root {
    --font-family: "Sofia Pro", sans-serif;
  }