section.img-stats
    .img-stats__container 
        .img-stats__wrapper 
            h2.h1 Tetratherix has developed a biostealth fluid matrix to disrupt regenerative medicine

            .img-stats__img
                img(src="./img/Tetratherix-Illustations-Round-1-Tetramatrix.png", alt="")

            .section__subtitle.section__subtitle-black Our mission is to extend and improve the lives of 10 million people around the world over the next 10 years with Tetramatrix utilised in multiple forms for a range of clinical applications. We measure our success by how many lives we change and believe our social obligation is to ensure access to Tetramatrix is easy and affordable for every community around the world.

            .img-stats__stats 
                .img-stats__cell 
                    .img-stats__num 10,000,000
                    .img-stats__text People
                .img-stats__cell 
                    .img-stats__num Global
                    .img-stats__text Reach 
                .img-stats__cell 
                    .img-stats__num 10
                    .img-stats__text Years