section.model-slider
    .container.model-slider__container 
        .model-slider__wrapper 

        .model-slider__top 
            h2.h1 We commercialise the Tetramatrix platform via licensing for multiple parallel applications
            p.section__paragraph We generate revenue through a combination of IP license fees and product supply, the proportions of which can be flexible depending on the requirements in market segments.

        .model-slider__slider 
            .swiper-wrapper 
                .swiper-slide 
                    .model-slider-card 
                        .model-slider-card__title Market Validation
                        .model-slider-card__subtitle Our partnerships send a positive signal to our current and prospective employees, partners and investors that the Tetramatrix platform is attractive to experts in our chosen segments.
                .swiper-slide 
                    .model-slider-card 
                        .model-slider-card__title Market Validation
                        .model-slider-card__subtitle Our partnerships send a positive signal to our current and prospective employees, partners and investors that the Tetramatrix platform is attractive to experts in our chosen segments.