section.application-partners
    .container.application-partners__container 

        .application-partners__inner 
            .application-partners__title Research and Development Partnerships
            .application-partners__wrapper 
                .application-partners__slider 
                    .swiper-wrapper 
                        .swiper-slide
                            .application-partners__partner 
                                img(src="./img/Group 16.svg", alt="")
                        .swiper-slide
                            .application-partners__partner 
                                img(src="./img/Group 16.svg", alt="")
                        .swiper-slide
                            .application-partners__partner 
                                img(src="./img/Group 16.svg", alt="")
                        .swiper-slide
                            .application-partners__partner 
                                img(src="./img/Group 16.svg", alt="")