section.hero 
    .hero__container 
        .hero__wrapper 
            .hero__bg 
                img(src="./img/Tetratherix-Hero-3 (1).png", alt="")
            h1.hero__title Biostealth Matrix for the Future of Precision Medicine
            
            nav.hero-nav 
                ul.hero-nav__list
                    li.hero-nav__item.active
                        a(href="") Home 
                    li.hero-nav__item 
                        a(href="") About 
                    li.hero-nav__item 
                        a(href="") TTRX Model 
                    li.hero-nav__item 
                        a(href="") Applications 
                    li.hero-nav__item 
                        a(href="") Investors     