section.model-info
    .container.model-info__container 
        .model-info__wrapper 
            .model-info__top 
                h2.h1.model-info__title Parallel platforms provide us flexibility to partner at earlier stages with accretive returns that compound over time
                p.section__paragraph Similar to a ‘build-to-buy’ model, we partner differently to, and at earlier stages than, traditional medtech opportunities. Our return profile is different and not built on unilateral M&A. Smaller return at early stages but compounds to a far greater return over time.
            .model-info__img 
                img(src="./img/TTRX-Model.png", alt="")
        