section.img-stats.model-intro
    .img-stats__container 
        .img-stats__wrapper 
            h2.h1 Different needs. Different leading partnerships. Same Biostealth propositions defined by trends of modern medicine

            .img-stats__img
                img(src="./img/Tetratherix-Illustations-Round-1-Tetramatrix.png", alt="")

            .section__subtitle.section__subtitle-black We’ve designed a portfolio of products that have been developed to disrupt multiple market segments. Our technical approach is focused on real clinical utility. Our supply and manufacturing strategy is centred on usage at scale.
