section.about-info
    .container.about-info__container 
        .about-info__wrapper 
            .swiper-wrapper
                .swiper-slide
                    .about-info-block
                        .about-info-block__title Tetramatrix
                        .about-info-block__subtitle A fully synthetic biomaterial, compatible with minimally invasive administration techniques that does not induce a foreign body reaction to optimise healing.
                .swiper-slide
                    .about-info-block
                        .about-info-block__title Smart
                        .about-info-block__subtitle Triggered by the physiological temperature as a universal factor - Tetramatrix physically integrates and adheres to the target tissue to support different biological processes.
                .swiper-slide
                    .about-info-block
                        .about-info-block__title Clinically Modular
                        .about-info-block__subtitle Flowable and sprayable configurations of the Tetramatrix platform enable delivery to anatomical sites with minimal damage to the host tissue to advance healing or to enable novel delivery routes.
                .swiper-slide
                    .about-info-block
                        .about-info-block__title Invisible to the Body
                        .about-info-block__subtitle Tetramatrix biologically unites with target sites so that the body does not register it as a foreign object, allowing Tetramatrix to work in synergy at the site. Overtime, Tetramatrix resorbs naturally.

