section.text-banner
    .container.text-banner__container 
        .text-banner__wrapper 
            .text-banner__img   
                img(src="./img/Sequence 01.00_00_28_06.Still001.jpg", alt="")
            h2.h1.text-banner__title “TTRX provides a unique exposure to a biomed business with the scale and profitability of a SaaS platform, the likes of which reminds me of Xero in the early days”
            .text-banner__subtitle Rod Drury - Xero Founder and Tetratherix Investor


