section.model-partners
    .container.model-partners__container 
        .model-partners__wrapper 
            h2.h1 Partnering that scales quickly, limits risk and builds long term sustainability
            .model-partners__slider
                .swiper-wrapper 
                    .swiper-slide 
                        .model-partners-card
                            .model-partners-card__top 
                                img(src="./img/Primary Logo.png", alt="") 
                            .model-partners-card__bottom 
                                .model-partners-card__title Pilot Clinical Trial
                                p.section__paragraph.model-partners-card__subtitle Endpoints and assessment details are verified with partners prior to running Pilot Clinical Trials. Aligning objectives at this point ensures the data from a desired clinical trial is rapidly translated. This stage of validation is still controlled and [mostly] funded by Tetratherix.
                    .swiper-slide 
                        .model-partners-card
                            .model-partners-card__top 
                                img(src="./img/Primary Logo.png", alt="") 
                            .model-partners-card__bottom 
                                .model-partners-card__title Pilot Clinical Trial
                                p.section__paragraph.model-partners-card__subtitle Endpoints and assessment details are verified with partners prior to running Pilot Clinical Trials. Aligning objectives at this point ensures the data from a desired clinical trial is rapidly translated. This stage of validation is still controlled and [mostly] funded by Tetratherix.
                    .swiper-slide 
                        .model-partners-card
                            .model-partners-card__top 
                                img(src="./img/Primary Logo.png", alt="") 
                            .model-partners-card__bottom 
                                .model-partners-card__title Pilot Clinical Trial
                                p.section__paragraph.model-partners-card__subtitle Endpoints and assessment details are verified with partners prior to running Pilot Clinical Trials. Aligning objectives at this point ensures the data from a desired clinical trial is rapidly translated. This stage of validation is still controlled and [mostly] funded by Tetratherix.
                    .swiper-slide 
                        .model-partners-card
                            .model-partners-card__top 
                                img(src="./img/Primary Logo.png", alt="") 
                            .model-partners-card__bottom 
                                .model-partners-card__title Pilot Clinical Trial
                                p.section__paragraph.model-partners-card__subtitle Endpoints and assessment details are verified with partners prior to running Pilot Clinical Trials. Aligning objectives at this point ensures the data from a desired clinical trial is rapidly translated. This stage of validation is still controlled and [mostly] funded by Tetratherix.