
<section class="model-partners">
  <div class="container model-partners__container"> 
    <div class="model-partners__wrapper"> 
      <h2 class="section__title">Partnering that scales quickly, limits risk and builds long term sustainability</h2>
      <div class="model-partners__slider">
        <div class="swiper-wrapper"> 
          <div class="swiper-slide"> 
            <div class="model-partners-card">
              <div class="model-partners-card__top"> <img src="./img/Primary Logo.png" alt=""/></div>
              <div class="model-partners-card__bottom"> 
                <div class="model-partners-card__title">Pilot Clinical Trial</div>
                <p class="section__paragraph model-partners-card__subtitle">Endpoints and assessment details are verified with partners prior to running Pilot Clinical Trials. Aligning objectives at this point ensures the data from a desired clinical trial is rapidly translated. This stage of validation is still controlled and [mostly] funded by Tetratherix.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>