section.img-stats.about-stats
    .container.about-stats__container 
        .about-stats__wrapper
            h2.h1 A decade of development with meticulous polymer programming

            .img-stats__stats 
                .img-stats__cell 
                    .img-stats__num 10
                    .img-stats__text 10 years of technical validation. Over a decade testing the capabilities of the polymer platform and have verified its abilities in both pre-clinical and clinical environments
                .img-stats__cell 
                    .img-stats__num 20+
                    .img-stats__text We have explored the safety and efficacy of the platform in 3 separate clinical trials enrolling >20 patients 
                .img-stats__cell 
                    .img-stats__num 500+
                    .img-stats__text Tetramatrix has been tested for safety and efficacy in over 500 animals, across 5 species
                .img-stats__cell 
                    .img-stats__num 9
                    .img-stats__text Our research and development program has been validated with 9 individual independent research institutions globally