.about-stats {

    margin-bottom: 120px;
    @include adaptiveValue(margin-bottom, 120px, 40px, 1440px, 467px);
    

    .img-stats__cell {
        justify-content: space-between;

        @media (max-width:767px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }
        @media (max-width:567px) {
            padding: 30px 0;
        }
    }
    .img-stats__stats {
        max-width: 100%;
    }
    .img-stats__text {
        max-width: 655px;
    }

    h2.h1 {
        margin-bottom: 60px;
        @include adaptiveValue(margin-bottom, 60px, 40px, 1440px, 467px);
    }
    
    &__container {

    }
    &__wrapper {
        background: var(--light-grey);
        border-radius: 60px;
        @include adaptiveValue(border-radius, 60px, 30px, 767px);

        padding-top: 60px;
        padding-right: 114px;
        padding-bottom: 60px;
        padding-left: 114px;

        @include adaptiveValue(padding-top, 60px, 40px, 1440px, 467px);
        @include adaptiveValue(padding-right, 114px, 20px, 1440px, 467px);
        @include adaptiveValue(padding-bottom, 60px, 40px, 1440px, 467px);
        @include adaptiveValue(padding-left, 114px, 20px, 1440px, 467px);

        
    }
}