section.hero.hero-secondary
    .hero__container 
        .hero__wrapper 
            .hero__bg.hero__bg-secondary 
                img(src="./img/Tetratherix-Illustations-Round-1-Tetramatrix-Extended.png", alt="")

            
            nav.hero-nav 
                ul.hero-nav__list
                    li.hero-nav__item.active
                        a(href="") Home 
                    li.hero-nav__item 
                        a(href="") About 
                    li.hero-nav__item 
                        a(href="") TTRX Model 
                    li.hero-nav__item 
                        a(href="") Applications 
                    li.hero-nav__item 
                        a(href="") Investors     