
<section class="hero hero-secondary">
  <div class="hero__container"> 
    <div class="hero__wrapper"> 
      <div class="hero__bg hero__bg-secondary"> <img src="./img/Tetratherix-Illustations-Round-1-Tetramatrix-Extended.png" alt=""/></div>
      <nav class="hero-nav"> 
        <ul class="hero-nav__list">
          <li class="hero-nav__item active"><a href="">Home </a></li>
          <li class="hero-nav__item"> <a href="">About </a></li>
          <li class="hero-nav__item"> <a href="">TTRX Model </a></li>
          <li class="hero-nav__item"> <a href="">Applications </a></li>
          <li class="hero-nav__item"> <a href="">Investors     </a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>